:root {
  --white: #ffffff;
  --black: #000000;
  --fixed-black: #000000;
  --fixed-white: #ffffff;
  --font: sans-serif;
  --black80: rgba(0, 0, 0, 0.8);
  --black50: rgba(0, 0, 0, 0.5);
}

.light-mode {
  --white: #000000;
  --black: #ffffff;
  --black81: #ffffff 81%;
  --black50: #ffffff 50%;
}
.dark-mode {
  --white: #ffffff;
  --black: #000000;
  --black81: #000000 81%;
  --black50: #000000 50%;
}

.app {
  /* font-family: var(--font); */
  font-family: "Roboto", sans-serif;
  font-family: "Lumanosimo", "cursive";
  color: var(--white);
  background: var(--black);

  height: 100vh;
  box-sizing: border-box;

  mix-blend-mode: normal;
}
/* selection */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--lightBlack_02);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}
